<div class="container">
	<div class="row">
		<div class="page-header">
			<strong><h1>MLB Scoreboard</h1></strong>
		</div>
	</div>

	<div class="col-xs-12 col-md-12">
		<% all_events = @mlb_hash['sports'][0]['leagues'][0]['events'] %>
			<% all_events.each do |event| %>

			<div class="panel panel-default">
				<% competition = event['competitions'][0] %>
				<% dt = event['date']  %>
				<% datetime = DateTime.iso8601(dt) %>
				<% new_datetime = datetime.strftime("%a, %B %e, %Y %l:%M %p ET") %>

				<div class="panel-heading top-bar">
					<%= new_datetime %><br>

					<% if competition['status']['description'] == "FINAL" %>
						FINAL
					<% elsif competition['status']['description'] == "IN PROGRESS" %>
						<%= competition['status']['detail'] %>
					<% else %>
						<br>
					<% end %>
				</div>
				
				<table class="table-responsive table">
					<tr class="my-headers">
						<td class="column1"></td>
						<td class="column2"></td>
						<% if competition['status']['description'] != "SCHEDULED" %>
							<td class="column345-option2-header">R</td>
							<td class="column345-option2-header">H</td>
							<td class="column345-option2-header">E</td>
						<% else %>
							<td class="column345-option1-header">PROBABLE PITCHERS</td>
						<% end %>
						<% if competition['status']['description'] == "FINAL" %>
							<td class="column678-option1-header">WINS</td>
							<td class="column678-option1">LOSSES</td>
							<td class="column678-option1">TIES</td>
						<% else %>
							<td class="column678-option2-header"></td>
						<% end %>
							<td class="column9"></td>
					</tr>


					<% competition['competitors'].each do |t| %>

						<!-- away team -->
						<% if t['homeAway'] == "away" %>
							<tr>
								<td class="column1">
									<% @team_urls_array.each do |url| %>
										<% if url.include?("/#{t['team']['abbreviation'].downcase}/") %>
											<% html = Nokogiri::HTML(open(url)) %>
											<% image = html.css('div.global-nav-container span img').first.attributes['src'].value %>
											<img src="<%= image %>" class="logo-mlb">
										<% end %>
									<% end %>
								</td>
								<td class="column2">
									<strong><h4 class="team-heading"><%= t['team']['location'] %> <%= t['team']['name'] %></h4></strong>
									
									<div class="record">(<%= t['team']['record']['summary'] %>)</div>
									<% if competition['status']['description'] != "SCHEDULED" %>
										<div class="score"><%=  "Score: #{t['score']}" %></div>
									<% end %>
								</td>

								<!-- starting pitcher -->
								<% if competition['status']['description'] == "SCHEDULED" %>
									<td class="column345-option1">
											<a href=<%= competition['stats']['awayStartingPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['awayStartingPitcher']['athlete']['firstName'] %> <%= competition['stats']['awayStartingPitcher']['athlete']['lastName'] %></a><br>
									</td>
								<% else %>
									<td class="column345-option2"><%= t['score'] %></td>
									<td class="column345-option2">0</td>
									<td class="column345-option2">0</td>
								<% end %>

								<% if competition['status']['description'] == "FINAL" %>
									<td class="column678-option1 wins-column-border big-bold-text"><%= t['team']['record']['wins'] %></td>
									<td class="column678-option1 no-border big-bold-text"><%= t['team']['record']['losses'] %></td>
									<td class="column678-option1 ties-column-border big-bold-text"><%= t['team']['record']['ties'] %></td>
								<% elsif competition['status']['description'] == "IN PROGRESS" %>
									<td rowspan="2" class="column678-option2">
										<div>
											<i class="fa fa-male dark-icon"></i> Pitching: <%= competition['situation']['currentPitcher']['shortName'] %><br>
											<i class="fa fa-male dark-icon"></i> Batting: <%= competition['situation']['currentBatter']['shortName'] %><br><br>

											<strong>BALLS: </strong> 
												<% if competition['situation']['balls'] == 4 %>
													<i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle dark-icon"></i><br>
												<% elsif competition['situation']['balls'] == 3 %>
													<i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle faded-icon"></i><br>
												<% elsif competition['situation']['balls'] == 2 %>
													<i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle faded-icon"></i> <i class="fa fa-circle faded-icon"></i><br>
												<% elsif competition['situation']['balls'] == 1 %>
													<i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle faded-icon"></i> <i class="fa fa-circle faded-icon"></i> <i class="fa fa-circle faded-icon"></i><br>
												<% else %>
													<i class="fa fa-circle faded-icon"></i> <i class="fa fa-circle faded-icon"></i> <i class="fa fa-circle faded-icon"></i> <i class="fa fa-circle faded-icon"></i><br>
												<% end %>

											<strong>STRIKES: </strong> 
												<% if competition['situation']['strikes'] == 3 %>
													<i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle dark-icon"></i><br>
												<% elsif competition['situation']['strikes'] == 2 %>
													<i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle faded-icon"></i><br>
												<% elsif competition['situation']['strikes'] == 1 %>
													<i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle faded-icon"></i> <i class="fa fa-circle faded-icon"></i><br>
												<% else %>
													<i class="fa fa-circle faded-icon"></i> <i class="fa fa-circle faded-icon"></i> <i class="fa fa-circle faded-icon"></i><br>
												<% end %>

											<strong>OUTS:</strong> 
												<% if competition['situation']['outsText'] == 3 %>
													<i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle dark-icon"></i><br>
												<% elsif competition['situation']['outsText'] == 2 %>
													<i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle faded-icon"></i><br>
												<% elsif competition['situation']['outsText'] == 1 %>
													<i class="fa fa-circle dark-icon"></i> <i class="fa fa-circle faded-icon"></i> <i class="fa fa-circle faded-icon"></i><br>
												<% else %>
													<i class="fa fa-circle faded-icon"></i> <i class="fa fa-circle faded-icon"></i> <i class="fa fa-circle faded-icon"></i><br>
												<% end %>

											<br><%= competition['status']['shortDetail'] %><br>
											<%= competition['situation']['baseRunnersText'] %><br><br>
											
											<strong>LAST PLAY: </strong><%= competition['situation']['lastAtBatResult'] %>
										</div>
									</td>
								<% else %>
									<td rowspan="2" class="column678-option2">
										<%= event['venues'][0]['name'] %><br>
										<%= event['venues'][0]['city'] %>, <%= event['venues'][0]['state'] %><br>
										<br>
										<%= event['type'] %><br>

										<% if event['links']['web'].include?("tickets") %>
											<a href=<%= event['links']['web']['tickets']['href'] %>>Tickets</a><br>
										<% end %>
										
										<% if event['links']['web'].include?("pickcenter") %>
											<br><a href=<%= event['links']['web']['pickcenter']['href'] %>>Pick Center</a>
										<% end %>
									</td>
								<% end %>

								<td rowspan="2" class="column9">

									<% if event['links']['web'].include?("preview") %>
										<a class="btn btn-default btn-sm preview-link-button" role="button" href=<%= event['links']['web']['preview']['href'] %>>Preview</a><br><br>
									<% end %>

									<% if event['links']['web'].include?("recap") %>
										<a class="btn btn-default btn-sm recap-link-button" role="button" href=<%= event['links']['web']['recap']['href'] %>>Recap</a><br><br>
									<% end %>

									<% if event['links']['web'].include?("boxscore") %>
										<a class="btn btn-default btn-sm boxscore-link-button" role="button" href=<%= event['links']['web']['boxscore']['href'] %>>Boxscore</a><br><br>
									<% end %>

									<% if event['links']['web'].include?("liveUpdate") %>
										<a class="btn btn-default btn-sm liveupdate-link-button" role="button" href=<%= event['links']['web']['liveUpdate']['href'] %>>Live Update</a><br><br>
									<% end %>

									<% if event['links']['web'].include?("playByPlay") %>
										<a class="btn btn-default btn-sm playbyplay-link-button" role="button" href=<%= event['links']['web']['playByPlay']['href'] %>>Play By Play</a><br><br>
									<% end %>

									<% if event['links']['web'].include?("conversation") %>
										<a class="btn btn-default btn-sm conversation-link-button" role="button" href=<%= event['links']['web']['conversation']['href'] %>>Conversation</a><br><br>
									<% end %>

									<% if event['links']['web'].include?("liveStream") %>
										<a class="btn btn-default btn-sm livestream-link-button" role="button" href=<%= event['links']['web']['liveStream']['href'] %>>Live Stream</a><br><br>
									<% end %>

								</td>
							</tr>
						<% end %>
					<% end %>

					<% competition['competitors'].each do |t| %>
						<!-- home team -->
						<% if t['homeAway'] == "home" %>
							<tr>
								<td class="column1">
									<% @team_urls_array.each do |url| %>
										<% if url.include?("/#{t['team']['abbreviation'].downcase}/") %>
											<% html = Nokogiri::HTML(open(url)) %>
											<% image = html.css('div.global-nav-container span img').first.attributes['src'].value %>
											<img src="<%= image %>" class="logo-mlb">
										<% end %>
									<% end %>
								</td>
								<td class="column2">
									<strong><h4 class="team-heading"><%= t['team']['location'] %> <%= t['team']['name'] %></h4></strong>
									
									<div class="record">(<%= t['team']['record']['summary'] %>)</div>
									<% if competition['status']['description'] != "SCHEDULED" %>
										<div class="score"><%=  "Score: #{t['score']}" %></div>
									<% end %>
								</td>

								<!-- starting pitcher -->
							
								<% if competition['status']['description'] == "SCHEDULED" %>
									<td class="column345-option1">
											<a href=<%= competition['stats']['homeStartingPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['homeStartingPitcher']['athlete']['firstName'] %> <%= competition['stats']['homeStartingPitcher']['athlete']['lastName'] %></a><br>
									</td>
								<% else %>
									<td class="column345-option2"><%= t['score'] %></td>
									<td class="column345-option2">0</td>
									<td class="column345-option2">0</td>
								<% end %>

								<% if competition['status']['description'] == "FINAL" %>
									<td class="column678-option1 wins-column-border"><%= t['team']['record']['wins'] %></td>
									<td class="column678-option1 no-border"><%= t['team']['record']['losses'] %></td>
									<td class="column678-option1 ties-column-border"><%= t['team']['record']['ties'] %></td>
								<% end %>
							</tr>
						<% end %>
					<% end %>
			
				</table>

				<div class="details-button">
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%= event['id']%>" aria-expanded="false" aria-controls="collapseExample">
	  				MORE DETAILS
					</button>
				</div>

				<div style="padding-left: 30px; padding-right: 30px;">
					<div class="collapse" id="<%= event['id']%>">
						<div class="well" style="margins: 30px;">
						
							<% if competition['status']['description'] != "SCHEDULED" %>
								<div style="width: 100%;">
									<div class="game-table">
										<table class="table-responsive table">
											<tr>
												<td class="game-table-headers"></td>
												<td class="game-table-headers">1</td>
												<td class="game-table-headers">2</td>
												<td class="game-table-headers">3</td>
												<td class="game-table-headers">4</td>
												<td class="game-table-headers">5</td>
												<td class="game-table-headers">6</td>
												<td class="game-table-headers">7</td>
												<td class="game-table-headers">8</td>
												<td class="game-table-headers">9</td>
												<td class="game-table-headers">R</td>
												<td class="game-table-headers">H</td>
												<td class="game-table-headers">E</td>
											</tr>
											<tr>
												<% competition['competitors'].each do |t| %>
													<% if t["homeAway"] == "away" %>
														<td class="game-table-cells game-table-borders"><%= t['team']['abbreviation'] %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 1 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 2 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 3 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 4 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 5 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 6 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 7 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 8 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 9 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= t["score"] %></td>
														<td class="game-table-cells game-table-borders">0</td>
														<td class="game-table-cells game-table-borders">0</td>
													<% end %>
												<% end %>
											</tr>
											<tr>
												<% competition['competitors'].each do |t| %>
													<% if t["homeAway"] == "home" %>
														<td class="game-table-cells game-table-borders"><%= t['team']['abbreviation'] %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 1 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 2 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 3 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 4 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 5 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 6 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 7 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 8 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= competition["period"] == 9 ? t["score"] : 0 %></td>
														<td class="game-table-cells game-table-borders"><%= t["score"] %></td>
														<td class="game-table-cells game-table-borders">0</td>
														<td class="game-table-cells game-table-borders">0</td>
													<% end %>
												<% end %>
											</tr>
										</table>
									</div>
									<% if competition['status']['description'] == "IN PROGRESS" %>
										<% if competition['stats']['officials'] != {} %>
												<div class="officials">
													<strong>Officials:</strong><br>
													<strong>First Base Umpire:</strong> <%= competition['stats']['officials']['firstBaseUmpire'] %><br>
													<strong>Second Base Umpire:</strong> <%= competition['stats']['officials']['secondBaseUmpire'] %><br>
													<strong>Third Base Umpire:</strong> <%= competition['stats']['officials']['thirdBaseUmpire'] %><br>
													<strong>Home Umpire:</strong> <%= competition['stats']['officials']['homeUmpire'] %>
												</div>
										<% end %>
									<% end %>
									<% if competition['status']['description'] == "FINAL" %>
										<div class="winning-players">
											<% if competition['stats']['winningPitcher']  %>
												<strong>Winning Pitcher: </strong><a href=<%= competition['stats']['winningPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['winningPitcher']['athlete']['firstName'] %> <%= competition['stats']['winningPitcher']['athlete']['lastName'] %></a><br>
											<% end %>

											<% if competition['stats']['losingPitcher']  %>
												<strong>Losing Pitcher: </strong><a href=<%= competition['stats']['losingPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['losingPitcher']['athlete']['firstName'] %> <%= competition['stats']['losingPitcher']['athlete']['lastName'] %></a><br>
											<% end %>

											<% if competition['stats']['savingPitcher']  %>
												<strong>Saving Pitcher: </strong><a href=<%= competition['stats']['savingPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['savingPitcher']['athlete']['firstName'] %> <%= competition['stats']['savingPitcher']['athlete']['lastName'] %></a><br>
											<% end %>
										</div>
									<% end %>
								</div>

							<% else %>
							
								<div style="width: 100%; text-align: center;">
									<div class="win-table">
										<table class="table-responsive table">
											<% competition['competitors'].each do |t| %>
												<% if t["homeAway"] == "away" %>
													<tr>
														<thead>
															<% @team_urls_array.each do |url| %>
																<% if url.include?("/#{t['team']['abbreviation'].downcase}/") %>
																	<% html = Nokogiri::HTML(open(url)) %>
																	<% image = html.css('div.global-nav-container span img').first.attributes['src'].value %>
																	<img src="<%= image %>" class="logo-mlb">
																<% end %>
															<% end %>
															<strong><h4 style="display: inline;"><%= t['team']['location'] %> <%= t['team']['name'] %></h4></strong>
														<thead>
													</tr>
													<tr>
														<td class="win-table-headers win-table-borders">WINS</td>
														<td class="win-table-headers win-table-borders">LOSSES</td>
														<td class="win-table-headers win-table-borders">TIES</td>
													</tr>
													<tr>
														<td class="win-table-cells win-table-borders"><%= t['team']['record']['wins'] %></td>
														<td class="win-table-cells win-table-borders"><%= t['team']['record']['losses'] %></td>
														<td class="win-table-cells win-table-borders"><%= t['team']['record']['ties'] %></td>
													</tr>
												<% end %>
											<% end %>
										</table>
									</div>

									<div class="win-table">
										<table class="table-responsive table">
											<% competition['competitors'].each do |t| %>
												<% if t["homeAway"] == "home" %>
													<tr>
														<thead>
															<% @team_urls_array.each do |url| %>
																<% if url.include?("/#{t['team']['abbreviation'].downcase}/") %>
																	<% html = Nokogiri::HTML(open(url)) %>
																	<% image = html.css('div.global-nav-container span img').first.attributes['src'].value %>
																	<img src="<%= image %>" class="logo-mlb">
																<% end %>
															<% end %>
															<strong><h4 style="display: inline;"><%= t['team']['location'] %> <%= t['team']['name'] %></h4></strong>
														</thead>
													</tr>
													<tr>
														<td class="win-table-headers win-table-borders">WINS</td>
														<td class="win-table-headers win-table-borders">LOSSES</td>
														<td class="win-table-headers win-table-borders">TIES</td>
													</tr>
													<tr>
														<td class="win-table-cells win-table-borders"><%= t['team']['record']['wins'] %></td>
														<td class="win-table-cells win-table-borders"><%= t['team']['record']['losses'] %></td>
														<td class="win-table-cells win-table-borders"><%= t['team']['record']['ties'] %></td>
													</tr>
												<% end %>
											<% end %>
										</table>
									</div>
								</div>
							<% end %>

					</div>
				</div>
			</div>
			</div>
			<br>
			<br>
		<% end %>
	</div>
</div>