<div class="container">
	<div class="row">
		<div class="page-header" style="padding-left: 30px">
			<strong><h1>MLB Scoreboard</h1></strong>
		</div>
	</div>

	<div class="col-xs-12 col-md-12">
		<% all_events = @mlb_hash['sports'][0]['leagues'][0]['events'] %>
			<% all_events.each do |event| %>

			<div class="panel panel-default">
				<% competition = event['competitions'][0] %>
				<% dt = event['date']  %>
				<% datetime = DateTime.iso8601(dt) %>
				<% new_datetime = datetime.strftime("%a, %B %e, %Y %l:%M %p ET") %>

				<div class="panel-heading top-bar">
					<%= new_datetime %><br>

					<% if competition['status']['description'] == "FINAL" %>
						FINAL
					<% elsif competition['status']['description'] == "IN PROGRESS" %>
						<%= competition['status']['detail'] %>
					<% else %>
						<br>
					<% end %>
				</div>

				<table class="table-responsive table">
					<tr class="my-headers">
						<td class="column1"></td>
						<td class="column2"></td>
						<% if competition['status']['description'] != "SCHEDULED" %>
							<td class="column345-option2" style="font-weight: lighter;">R</td>
							<td class="column345-option2" style="font-weight: lighter;">H</td>
							<td class="column345-option2" style="font-weight: lighter;">E</td>
						<% else %>
							<td class="column345-option1" style="font-weight: lighter;">PROBABLE PITCHERS</td>
						<% end %>
						<% if competition['status']['description'] == "FINAL" %>
							<td class="column678-option1" style="font-weight: lighter; border-left: solid; border-left-width: 1px; border-left-color: #999999;">WINS</td>
							<td class="column678-option1" style="font-weight: lighter;">LOSSES</td>
							<td class="column678-option1" style="font-weight: lighter;">TIES</td>
						<% else %>
							<td class="column678-option2" style="border-left: solid; border-left-width: 1px; border-left-color: #999999;"></td>
						<% end %>
							<td class="column9"></td>
					</tr>
					<% competition['competitors'].each do |t| %>
						<!-- home team -->
						<% if t['homeAway'] == "home" %>
							<tr>
								<td class="column1">
									<% @team_urls_array.each do |url| %>
										<% if url.include?("/#{t['team']['abbreviation'].downcase}/") %>
											<% html = Nokogiri::HTML(open(url)) %>
											<% image = html.css('div.global-nav-container span img').first.attributes['src'].value %>
											<img src="<%= image %>" class="logo-mlb">
										<% end %>
									<% end %>
								</td>
								<td class="column2">
									<strong><h4 style="margin-bottom:0px;"><%= t['team']['location'] %> <%= t['team']['name'] %></h4></strong>
									
									<div class="record">(<%= t['team']['record']['summary'] %>)</div>
									<% if competition['status']['description'] != "SCHEDULED" %>
										<div class="score"><%=  "Score: #{t['score']}" %></div>
									<% end %>
								</td>

								<!-- starting pitcher -->
								<% if competition['status']['description'] == "SCHEDULED" %>
									<td class="column345-option1">
										<!-- desktop -->
											<a href=<%= competition['stats']['homeStartingPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['homeStartingPitcher']['athlete']['firstName'] %> <%= competition['stats']['homeStartingPitcher']['athlete']['lastName'] %></a><br>

										<!-- mobile -->
											<a href=<%= competition['stats']['homeStartingPitcher']['athlete']['links']['mobile']['href'] %>><%= competition['stats']['homeStartingPitcher']['athlete']['firstName'] %> <%= competition['stats']['homeStartingPitcher']['athlete']['lastName'] %></a>
									</td>
								<% else %>
									<td class="column345-option2 column-text" style="font-size: 16px; font-weight: bold;">0</td>
									<td class="column345-option2 column-text" style="font-size: 16px; font-weight: bold;"><%= t['score'] %></td>
									<td class="column345-option2 column-text" style="font-size: 16px; font-weight: bold;">0</td>
								<% end %>

								<% if competition['status']['description'] == "FINAL" %>
									<td class="column678-option1 column_border column-text" style="border-style:none none none solid; font-size: 16px; font-weight: bold;"><%= t['team']['record']['wins'] %></td>
									<td class="column678-option1 column-text" style="border-style:none; font-size: 16px; font-weight: bold;"><%= t['team']['record']['losses'] %></td>
									<td class="column678-option1 column-border column-text" style="border-style:none solid none none; border-width: 1px; font-size: 16px; font-weight: bold;"><%= t['team']['record']['ties'] %></td>
								<% elsif competition['status']['description'] == "IN PROGRESS" %>
									<td rowspan="2" class="column678-option2 column_border about-game-text" style="border-style:none solid;">
										<div>
											<i class="fa fa-male" style="color: black;"></i> Pitching: <%= competition['situation']['currentPitcher']['shortName'] %><br>
											<i class="fa fa-male" style="color: black;"></i> Batting: <%= competition['situation']['currentBatter']['shortName'] %><br><br>

											Balls: 
												<% if competition['situation']['balls'] == 4 %>
													<i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: black;"></i><br>
												<% elsif competition['situation']['balls'] == 3 %>
													<i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i><br>
												<% elsif competition['situation']['balls'] == 2 %>
													<i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i><br>
												<% elsif competition['situation']['balls'] == 1 %>
													<i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i><br>
												<% else %>
													<i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i><br>
												<% end %>

											Strikes:
												<% if competition['situation']['strikes'] == 3 %>
													<i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i><br>
												<% elsif competition['situation']['strikes'] == 2 %>
													<i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i><br>
												<% elsif competition['situation']['strikes'] == 1 %>
													<i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"> </i><i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i><br>
												<% else %>
													<i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i><br>
												<% end %>

											Outs:
												<% if competition['situation']['outsText'] == 3 %>
													<i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i><br>
												<% elsif competition['situation']['outsText'] == 2 %>
													<i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i><br>
												<% elsif competition['situation']['outsText'] == 1 %>
													<i class="fa fa-circle" style="color: black;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"> </i><i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i><br>
												<% else %>
													<i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i> <i class="fa fa-circle" style="color: #D2D2D2;"></i><br>
												<% end %>

											<br><%= competition['status']['shortDetail'] %><br>
											<%= competition['situation']['baseRunnersText'] %><br><br>
											
											Last Play: <%= competition['situation']['lastAtBatResult'] %>
										</div>
									</td>
								<% else %>
									<td rowspan="2" class="column678-option2 column_border about-game-text" style="border-style:none solid;">
										<%= event['venues'][0]['name'] %><br>
										<%= event['venues'][0]['city'] %>, <%= event['venues'][0]['state'] %><br>
										<br>
										<%= event['type'] %><br>
										<!-- desktop -->
										<% if event['links']['web'].include?("tickets") %>
											<a href=<%= event['links']['web']['tickets']['href'] %>>Tickets</a><br>
										<% end %>

										<!-- mobile -->
										<% if event['links']['mobile'].include?("tickets") %>
											<a href=<%= event['links']['mobile']['tickets']['href'] %>>Tickets</a><br>
										<% end %>
										
										<!-- desktop -->
										<% if event['links']['web'].include?("pickcenter") %>
											<br><a href=<%= event['links']['web']['pickcenter']['href'] %>>Pick Center</a>
										<% end %>

										<!-- mobile -->
										<% if event['links']['mobile'].include?("pickcenter") %>
											<br><a href=<%= event['links']['mobile']['pickcenter']['href'] %>>Pick Center</a>
										<% end %>
									</td>
								<% end %>

								<td rowspan="2" class="column9">LINKS</td>
							</tr>

						<!-- away team -->
						<% else %>
							<tr>
								<td class="column1">
									<% @team_urls_array.each do |url| %>
										<% if url.include?("/#{t['team']['abbreviation'].downcase}/") %>
											<% html = Nokogiri::HTML(open(url)) %>
											<% image = html.css('div.global-nav-container span img').first.attributes['src'].value %>
											<img src="<%= image %>" class="logo-mlb">
										<% end %>
									<% end %>
								</td>
								<td class="column2">
									<strong><h4 style="margin-bottom:0px;"><%= t['team']['location'] %> <%= t['team']['name'] %></h4></strong>
									
									<div class="record">(<%= t['team']['record']['summary'] %>)</div>
									<% if competition['status']['description'] != "SCHEDULED" %>
										<div class="score"><%=  "Score: #{t['score']}" %></div>
									<% end %>
								</td>

								<!-- starting pitcher -->
							
								<% if competition['status']['description'] == "SCHEDULED" %>
									<td class="column345-option1">
										<!-- desktop -->
											<a href=<%= competition['stats']['awayStartingPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['awayStartingPitcher']['athlete']['firstName'] %> <%= competition['stats']['awayStartingPitcher']['athlete']['lastName'] %></a><br>

										<!-- mobile -->
											<a href=<%= competition['stats']['awayStartingPitcher']['athlete']['links']['mobile']['href'] %>><%= competition['stats']['awayStartingPitcher']['athlete']['firstName'] %> <%= competition['stats']['awayStartingPitcher']['athlete']['lastName'] %></a>
									</td>
								<% else %>
									<td class="column345-option2 column-text" style="font-size: 16px; font-weight: bold;">0</td>
									<td class="column345-option2 column-text" style="font-size: 16px; font-weight: bold;"><%= t['score'] %></td>
									<td class="column345-option2 column-text" style="font-size: 16px; font-weight: bold;">0</td>
								<% end %>

								<% if competition['status']['description'] == "FINAL" %>
									<td class="column678-option1 column_border column-text" style="border-style:none none none solid; font-size: 16px; font-weight: bold;"><%= t['team']['record']['wins'] %></td>
									<td class="column678-option1 column-text" style="border-style:none; font-size: 16px; font-weight: bold;"><%= t['team']['record']['losses'] %></td>
									<td class="column678-option1 column_border column-text" style="border-style:none solid none none; font-size: 16px; font-weight: bold;"><%= t['team']['record']['ties'] %></td>
								<% end %>
							</tr>
						<% end %>
					<% end %>
			
				</table>

				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%= event['id']%>" aria-expanded="false" aria-controls="collapseExample">
  				Details
				</button>
				<br>
				<br>

				<div class="collapse" id="<%= event['id']%>">
					<div class="well">
						<ul>
							<% if competition['status']['description'] == "FINAL" %>
								<%= competition['stats']['attendance']%><br>
							<% end %>

							<% if competition['stats']['winningPitcher']  %>
								<!-- desktop -->
								Winning Pitcher: <a href=<%= competition['stats']['winningPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['winningPitcher']['athlete']['firstName'] %> <%= competition['stats']['winningPitcher']['athlete']['lastName'] %></a><br>

								<br>
								<!-- mobile -->
								Winning Pitcher: <a href=<%= competition['stats']['winningPitcher']['athlete']['links']['mobile']['href'] %>><%= competition['stats']['winningPitcher']['athlete']['firstName'] %> <%= competition['stats']['winningPitcher']['athlete']['lastName'] %></a><br>
							<% end %>

							<% if competition['stats']['losingPitcher']  %>
								<!-- desktop -->
								Losing Pitcher: <a href=<%= competition['stats']['losingPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['losingPitcher']['athlete']['firstName'] %> <%= competition['stats']['losingPitcher']['athlete']['lastName'] %></a><br>

								<br>
								<!-- mobile -->
								Losing Pitcher: <a href=<%= competition['stats']['losingPitcher']['athlete']['links']['mobile']['href'] %>><%= competition['stats']['losingPitcher']['athlete']['firstName'] %> <%= competition['stats']['losingPitcher']['athlete']['lastName'] %></a><br>
							<% end %>

							<% if competition['stats']['savingPitcher']  %>
							<!-- desktop -->
								Saving Pitcher: <a href=<%= competition['stats']['savingPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['savingPitcher']['athlete']['firstName'] %> <%= competition['stats']['savingPitcher']['athlete']['lastName'] %></a><br>

								<br>
								<!-- mobile -->
								Saving Pitcher: <a href=<%= competition['stats']['savingPitcher']['athlete']['links']['mobile']['href'] %>><%= competition['stats']['savingPitcher']['athlete']['firstName'] %> <%= competition['stats']['savingPitcher']['athlete']['lastName'] %></a><br>
							<% end %>

							<% if competition['stats']['officials'] != {} %>
								Officials:<br>
								First Base Umpire: <%= competition['stats']['officials']['firstBaseUmpire'] %><br>
								Second Base Umpire: <%= competition['stats']['officials']['secondBaseUmpire'] %><br>
								Third Base Umpire: <%= competition['stats']['officials']['thirdBaseUmpire'] %><br>
								Home Umpire: <%= competition['stats']['officials']['homeUmpire'] %>
							<% end %>
						</ul>
						

						<!-- desktop -->
						<% if event['links']['web'].include?("preview") %>
							<a href=<%= event['links']['web']['preview']['href'] %>>Preview</a><br>
						<% end %>

						<% if event['links']['web'].include?("recap") %>
							<a href=<%= event['links']['web']['recap']['href'] %>>Recap</a><br>
						<% end %>

						<% if event['links']['web'].include?("boxscore") %>
							<a href=<%= event['links']['web']['boxscore']['href'] %>>Boxscore</a><br>
						<% end %>

						<% if event['links']['web'].include?("liveUpdate") %>
							<a href=<%= event['links']['web']['liveUpdate']['href'] %>>Live Update</a><br>
						<% end %>

						<% if event['links']['web'].include?("playByPlay") %>
							<a href=<%= event['links']['web']['playByPlay']['href'] %>>Play By Play</a><br>
						<% end %>

						<% if event['links']['web'].include?("conversation") %>
							<a href=<%= event['links']['web']['conversation']['href'] %>>Conversation</a><br>
						<% end %>

						<% if event['links']['web'].include?("pickcenter") %>
							<a href=<%= event['links']['web']['pickcenter']['href'] %>>Pick Center</a><br>
						<% end %>

						<% if event['links']['web'].include?("liveStream") %>
							<a href=<%= event['links']['web']['liveStream']['href'] %>>Live Stream</a><br>
						<% end %>

						<% if event['links']['web'].include?("tickets") %>
							<a href=<%= event['links']['web']['tickets']['href'] %>>Tickets</a><br>
						<% end %>

						<br>
						<!-- mobile -->
						<% if event['links']['mobile'].include?("preview") %>
							<a href=<%= event['links']['mobile']['preview']['href'] %>>Preview</a><br>
						<% end %>

						<% if event['links']['mobile'].include?("recap") %>
							<a href=<%= event['links']['mobile']['recap']['href'] %>>Recap</a><br>
						<% end %>

						<% if event['links']['mobile'].include?("boxscore") %>
							<a href=<%= event['links']['mobile']['boxscore']['href'] %>>Boxscore</a><br>
						<% end %>

						<% if event['links']['mobile'].include?("liveUpdate") %>
							<a href=<%= event['links']['mobile']['liveUpdate']['href'] %>>Live Update</a><br>
						<% end %>

						<% if event['links']['mobile'].include?("pickcenter") %>
							<a href=<%= event['links']['mobile']['pickcenter']['href'] %>>Pick Center</a><br>
						<% end %>

						<% if event['links']['mobile'].include?("tickets") %>
							<a href=<%= event['links']['mobile']['tickets']['href'] %>>Tickets</a><br>
						<% end %>

						<br>
						<%= event['venues'][0]['name'] %><br>
						<%= event['venues'][0]['city'] %>, <%= event['venues'][0]['state'] %><br>
						
						<%= event['type'] %>
					</div>
				</div>
			</div>
			<br>
			<br>
		<% end %>
	</div>
</div>