<div class="container">
	<div class="row">
		<div class="page-header" style="padding-left: 30px">
			<strong><h1>MLB Scoreboard</h1></strong>
		</div>
	</div>

	<div class="col-xs-12 col-md-8">
		<% all_events = @mlb_hash['sports'][0]['leagues'][0]['events'] %>
			<% all_events.each do |event| %>

			<div class="panel panel-default">
				<% competition = event['competitions'][0] %>
				<% dt = event['date']  %>
				<% datetime = DateTime.iso8601(dt) %>
				<% new_datetime = datetime.strftime("%a, %B %e, %Y %l:%M %p ET") %>

				<div class="panel-heading">
					<%= new_datetime %><br>

					<% if competition['status']['description'] == "FINAL" %>
						FINAL<br>
					<% elsif competition['status']['description'] == "IN PROGRESS" %>
						<%= competition['status']['detail'] %><br>
					<% else %>
					<% end %>
				</div>

				<div class="panel-body">
					<% competition['competitors'].each do |t| %><br>
						<!-- home team -->
						<% if t['homeAway'] == "home" %>
							<strong><%= t['team']['location'] %> <%= t['team']['name'] %></strong><br>
							
							<% if competition['status']['description'] != "SCHEDULED" %>
								<%=  "Score: #{t['score']}" %><br>
							<% end %>
							<%= t['team']['record']['summary'] %><br>

							<!-- starting pitcher -->
							<% if competition['status']['description'] == "SCHEDULED" %>
								<!-- desktop -->
								<a href=<%= competition['stats']['homeStartingPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['homeStartingPitcher']['athlete']['firstName'] %> <%= competition['stats']['homeStartingPitcher']['athlete']['lastName'] %></a><br>

								<br>
								<!-- mobile -->
								<a href=<%= competition['stats']['homeStartingPitcher']['athlete']['links']['mobile']['href'] %>><%= competition['stats']['homeStartingPitcher']['athlete']['firstName'] %> <%= competition['stats']['homeStartingPitcher']['athlete']['lastName'] %></a>
							<% end %>

						<!-- away team -->
						<% else %>
							<strong><%= t['team']['location'] %> <%= t['team']['name'] %></strong><br>

							<%=  "Score: #{t['score']}" if competition['status']['description'] != "SCHEDULED" %><br>
							<%= t['team']['record']['summary'] %><br>

							<!-- starting pitcher -->
							<% if competition['status']['description'] == "SCHEDULED" %>
								<!-- desktop -->
								<a href=<%= competition['stats']['awayStartingPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['awayStartingPitcher']['athlete']['firstName'] %> <%= competition['stats']['awayStartingPitcher']['athlete']['lastName'] %></a><br>
								
								<br>
								<!-- mobile -->
								<a href=<%= competition['stats']['awayStartingPitcher']['athlete']['links']['mobile']['href'] %>><%= competition['stats']['awayStartingPitcher']['athlete']['firstName'] %> <%= competition['stats']['awayStartingPitcher']['athlete']['lastName'] %></a>
							<% end %>
						<% end %>
						<br>
						
						Wins: <%= t['team']['record']['wins'] %><br>
						Losses: <%= t['team']['record']['losses'] %><br>
						Overtime Losses: <%= t['team']['record']['overtimeLosses'] %><br>
						Ties: <%= t['team']['record']['ties'] %><br>
					<% end %>
					
					<% if competition['status']['description'] == "IN PROGRESS" %>
						Balls: <%= competition['situation']['balls'] %><br>
						Strikes: <%= competition['situation']['strikes'] %><br>
						<%= competition['situation']['outsText'] %><br>
						<%= competition['situation']['baseRunnersText'] %><br>
						Pitching: <%= competition['situation']['currentPitcher']['shortName'] %><br>
						Batting: <%= competition['situation']['currentBatter']['shortName'] %><br>
						<%= competition['situation']['shortDetail'] %><br>
						Last Play: <%= competition['situation']['lastAtBatResult'] %><br>
					<% end %>
				</div>

				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%= event['id']%>" aria-expanded="false" aria-controls="collapseExample">
  				Details
				</button><br>

				<div class="collapse" id="<%= event['id']%>">
					<div class="well">
						Stats:
						<ul>
							<% if competition['status']['description'] == "FINAL" %>
								<%= competition['stats']['attendance']%><br>
							<% end %>

							<% if competition['stats']['winningPitcher']  %>
								<!-- desktop -->
								Winning Pitcher: <a href=<%= competition['stats']['winningPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['winningPitcher']['athlete']['firstName'] %> <%= competition['stats']['winningPitcher']['athlete']['lastName'] %></a><br>

								<br>
								<!-- mobile -->
								Winning Pitcher: <a href=<%= competition['stats']['winningPitcher']['athlete']['links']['mobile']['href'] %>><%= competition['stats']['winningPitcher']['athlete']['firstName'] %> <%= competition['stats']['winningPitcher']['athlete']['lastName'] %></a><br>
							<% end %>

							<% if competition['stats']['losingPitcher']  %>
								<!-- desktop -->
								Losing Pitcher: <a href=<%= competition['stats']['losingPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['losingPitcher']['athlete']['firstName'] %> <%= competition['stats']['losingPitcher']['athlete']['lastName'] %></a><br>

								<br>
								<!-- mobile -->
								Losing Pitcher: <a href=<%= competition['stats']['losingPitcher']['athlete']['links']['mobile']['href'] %>><%= competition['stats']['losingPitcher']['athlete']['firstName'] %> <%= competition['stats']['losingPitcher']['athlete']['lastName'] %></a><br>
							<% end %>

							<% if competition['stats']['savingPitcher']  %>
							<!-- desktop -->
								Saving Pitcher: <a href=<%= competition['stats']['savingPitcher']['athlete']['links']['web']['href'] %>><%= competition['stats']['savingPitcher']['athlete']['firstName'] %> <%= competition['stats']['savingPitcher']['athlete']['lastName'] %></a><br>

								<br>
								<!-- mobile -->
								Saving Pitcher: <a href=<%= competition['stats']['savingPitcher']['athlete']['links']['mobile']['href'] %>><%= competition['stats']['savingPitcher']['athlete']['firstName'] %> <%= competition['stats']['savingPitcher']['athlete']['lastName'] %></a><br>
							<% end %>

							<% if competition['stats']['officials'] != {} %>
								Officials:<br>
								First Base Umpire: <%= competition['stats']['officials']['firstBaseUmpire'] %><br>
								Second Base Umpire: <%= competition['stats']['officials']['secondBaseUmpire'] %><br>
								Third Base Umpire: <%= competition['stats']['officials']['thirdBaseUmpire'] %><br>
								Home Umpire: <%= competition['stats']['officials']['homeUmpire'] %>
							<% end %>
						</ul>
						

						<!-- desktop -->
						<% if event['links']['web'].include?("preview") %>
							<a href=<%= event['links']['web']['preview']['href'] %>>Preview</a><br>
						<% end %>

						<% if event['links']['web'].include?("recap") %>
							<a href=<%= event['links']['web']['recap']['href'] %>>Recap</a><br>
						<% end %>

						<% if event['links']['web'].include?("boxscore") %>
							<a href=<%= event['links']['web']['boxscore']['href'] %>>Boxscore</a><br>
						<% end %>

						<% if event['links']['web'].include?("liveUpdate") %>
							<a href=<%= event['links']['web']['liveUpdate']['href'] %>>Live Update</a><br>
						<% end %>

						<% if event['links']['web'].include?("playByPlay") %>
							<a href=<%= event['links']['web']['playByPlay']['href'] %>>Play By Play</a><br>
						<% end %>

						<% if event['links']['web'].include?("conversation") %>
							<a href=<%= event['links']['web']['conversation']['href'] %>>Conversation</a><br>
						<% end %>

						<% if event['links']['web'].include?("pickcenter") %>
							<a href=<%= event['links']['web']['pickcenter']['href'] %>>Pick Center</a><br>
						<% end %>

						<% if event['links']['web'].include?("liveStream") %>
							<a href=<%= event['links']['web']['liveStream']['href'] %>>Live Stream</a><br>
						<% end %>

						<% if event['links']['web'].include?("tickets") %>
							<a href=<%= event['links']['web']['tickets']['href'] %>>Tickets</a><br>
						<% end %>

						<br>
						<!-- mobile -->
						<% if event['links']['mobile'].include?("preview") %>
							<a href=<%= event['links']['mobile']['preview']['href'] %>>Preview</a><br>
						<% end %>

						<% if event['links']['mobile'].include?("recap") %>
							<a href=<%= event['links']['mobile']['recap']['href'] %>>Recap</a><br>
						<% end %>

						<% if event['links']['mobile'].include?("boxscore") %>
							<a href=<%= event['links']['mobile']['boxscore']['href'] %>>Boxscore</a><br>
						<% end %>

						<% if event['links']['mobile'].include?("liveUpdate") %>
							<a href=<%= event['links']['mobile']['liveUpdate']['href'] %>>Live Update</a><br>
						<% end %>

						<% if event['links']['mobile'].include?("pickcenter") %>
							<a href=<%= event['links']['mobile']['pickcenter']['href'] %>>Pick Center</a><br>
						<% end %>

						<% if event['links']['mobile'].include?("tickets") %>
							<a href=<%= event['links']['mobile']['tickets']['href'] %>>Tickets</a><br>
						<% end %>

						<br>
						<%= event['venues'][0]['name'] %><br>
						<%= event['venues'][0]['city'] %>, <%= event['venues'][0]['state'] %><br>
						
						<%= event['type'] %>
					</div>
				</div>
			</div>
			<br>
			<br>
		<% end %>
	</div>
</div>